/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../js/flexslider/images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

.flex-direction-nav .flex-prev {
  left: -36px;
}

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
.container {
  max-width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.row {
  margin-left: -1.66667%;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

.span1 {
  width: 2.5%;
  margin-left: 1.66667%;
  float: left;
}

.span2 {
  width: 6.66667%;
  margin-left: 1.66667%;
  float: left;
}

.span3 {
  width: 10.83333%;
  margin-left: 1.66667%;
  float: left;
}

.span4 {
  width: 15%;
  margin-left: 1.66667%;
  float: left;
}

.span5 {
  width: 19.16667%;
  margin-left: 1.66667%;
  float: left;
}

.span6 {
  width: 23.33333%;
  margin-left: 1.66667%;
  float: left;
}

.span7 {
  width: 27.5%;
  margin-left: 1.66667%;
  float: left;
}

.span8 {
  width: 31.66667%;
  margin-left: 1.66667%;
  float: left;
}

.span9 {
  width: 35.83333%;
  margin-left: 1.66667%;
  float: left;
}

.span10 {
  width: 40%;
  margin-left: 1.66667%;
  float: left;
}

.span11 {
  width: 44.16667%;
  margin-left: 1.66667%;
  float: left;
}

.span12 {
  width: 48.33333%;
  margin-left: 1.66667%;
  float: left;
}

.span13 {
  width: 52.5%;
  margin-left: 1.66667%;
  float: left;
}

.span14 {
  width: 56.66667%;
  margin-left: 1.66667%;
  float: left;
}

.span15 {
  width: 60.83333%;
  margin-left: 1.66667%;
  float: left;
}

.span16 {
  width: 65%;
  margin-left: 1.66667%;
  float: left;
}

.span17 {
  width: 69.16667%;
  margin-left: 1.66667%;
  float: left;
}

.span18 {
  width: 73.33333%;
  margin-left: 1.66667%;
  float: left;
}

.span19 {
  width: 77.5%;
  margin-left: 1.66667%;
  float: left;
}

.span20 {
  width: 81.66667%;
  margin-left: 1.66667%;
  float: left;
}

.span21 {
  width: 85.83333%;
  margin-left: 1.66667%;
  float: left;
}

.span22 {
  width: 90%;
  margin-left: 1.66667%;
  float: left;
}

.span23 {
  width: 94.16667%;
  margin-left: 1.66667%;
  float: left;
}

.span24 {
  width: 98.33333%;
  margin-left: 1.66667%;
  float: left;
}

.center {
  margin: 0 auto;
}

.grid .span1 {
  margin-top: 50px;
  background-color: #d84835;
  height: 20px;
}

@media only screen and (max-width: 748px) {
  .span18, .span3 {
    width: 98.33333%;
    margin-left: 1.66667%;
    float: left;
  }
}

@media only screen and (max-width: 748px) {
  .span8 {
    width: 48.33333%;
    margin-left: 1.66667%;
    float: left;
  }
}
@media only screen and (max-width: 420px) {
  .span8 {
    width: 98.33333%;
    margin-left: 1.66667%;
    float: left;
  }
}

@media only screen and (max-width: 748px) {
  .span6 {
    width: 48.33333%;
    margin-left: 1.66667%;
    float: left;
  }
}
@media only screen and (max-width: 420px) {
  .span6 {
    width: 98.33333%;
    margin-left: 1.66667%;
    float: left;
  }
}

body {
  background-color: white;
  font-family: "Open Sans", verdana, sans-serif;
  color: #260904;
}

h1, h2, h3, h4 {
  font-size: 100%;
}

p, ul, ol, li {
  font-size: 100%;
}

p, ul, ol {
  margin: 1em 0;
  line-height: 1.4;
}

p {
  font-size: 0.875em;
}

h1, h2, h3 {
  text-align: center;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  font-size: 5em;
  font-size: 8vw;
  z-index: 1000;
  margin: 0.5em 0;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(175, 209, 212, 0.5);
  -moz-transform: skew(0, -6.7deg);
  -ms-transform: skew(0, -6.7deg);
  -webkit-transform: skew(0, -6.7deg);
  transform: skew(0, -6.7deg);
}
@media only screen and (max-width: 748px) {
  h1, h2, h3 {
    font-size: 3em;
    font-size: 10vw;
  }
}

h3 {
  color: #d84835;
  font-size: 4em;
  font-size: 4vw;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 748px) {
  h3 {
    font-size: 3em;
    font-size: 8vw;
  }
}
@media only screen and (max-width: 420px) {
  h3 {
    font-size: 10vw;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.lead-in {
  font-size: 1.125em;
}
@media only screen and (max-width: 748px) {
  .lead-in {
    text-align: center;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 420px) {
  .lead-in {
    padding: 0;
  }
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: #d84835;
}

.bg-blue {
  background-color: #19becf;
}

.bg-blue-dark {
  background-color: #0e6a74;
}

.bg-red {
  background: #d84835 url(../img/red-bg.jpg) scroll repeat-x top center;
}

.logo-wrap {
  margin-bottom: 90px;
  padding-top: 40px;
}
@media only screen and (max-width: 748px) {
  .logo-wrap {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .logo-wrap {
    margin-bottom: 20px;
  }
}

.logo {
  max-width: 420px;
  margin: 0 auto;
}

.offset {
  position: relative;
  top: -50px;
  margin-bottom: -250px;
}
@media only screen and (max-width: 748px) {
  .offset {
    margin-bottom: -200px;
    top: -15px;
  }
}
@media only screen and (max-width: 420px) {
  .offset {
    padding-top: 20px;
    margin: 0;
    top: auto;
  }
}

@-moz-document url-prefix() {
  .offset {
    margin-bottom: auto;
  }

  @media only screen and (max-width: 748px) {
    margin-bottom: auto;
  }
}
.layer-1 {
  z-index: 1;
}

.layer-2 {
  position: relative;
  z-index: 2;
}

.layer-3 {
  z-index: 3;
}

.lily-ipad {
  position: absolute;
  bottom: 20px;
  left: 12%;
  width: 15%;
}
@media only screen and (max-width: 748px) {
  .lily-ipad {
    bottom: -50px;
    left: 10%;
  }
}
@media only screen and (max-width: 420px) {
  .lily-ipad {
    right: 5%;
  }
}

.bud-ipad {
  position: absolute;
  bottom: 20px;
  right: 12%;
  width: 12%;
}
@media only screen and (max-width: 748px) {
  .bud-ipad {
    bottom: -50px;
    right: 15%;
  }
}
@media only screen and (max-width: 420px) {
  .bud-ipad {
    right: 5%;
  }
}

.bang1, .bang2, .bang3 {
  position: absolute;
}

.bang1 {
  background: url(../img/bang-1.png) scroll no-repeat center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  width: 283px;
  height: 196px;
  top: -43px;
  left: -53px;
}
.bang1 .callout {
  position: relative;
  right: 23px;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
@media only screen and (max-width: 748px) {
  .bang1 {
    width: 155px;
    top: -60px;
    left: -45px;
  }
  .bang1 .callout {
    top: 20px;
    font-size: 0.875em;
    right: auto;
  }
}
@media only screen and (max-width: 420px) {
  .bang1 {
    display: none;
  }
}

.bang2 {
  background: url(../img/bang-2.png) scroll no-repeat center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  width: 264px;
  height: 182px;
  bottom: 80px;
  right: -50px;
  z-index: 2;
}
.bang2 .callout {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 2em;
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
@media only screen and (max-width: 748px) {
  .bang2 {
    width: 150px;
    bottom: 75px;
    right: 0;
  }
  .bang2 .callout {
    top: 20%;
    font-size: 1.2em;
    left: 15%;
  }
}
@media only screen and (max-width: 420px) {
  .bang2 {
    display: none;
  }
}

.bang3 {
  background: url(../img/bang-3.png) scroll no-repeat center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  width: 161px;
  height: 111px;
  top: -50px;
  left: 50%;
  margin-left: -80px;
}
.bang3 .callout {
  font-size: 2em;
  position: relative;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  padding-top: 45px;
  left: -5px;
}
@media only screen and (max-width: 420px) {
  .bang3 {
    width: 120px;
    margin-left: -60px;
  }
  .bang3 .callout {
    font-size: 1.25em;
  }
}

.callout {
  text-align: center;
  font-weight: normal;
  color: #d84835;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Bangers', cursive;
  padding-top: 50px;
}
.callout span {
  font-size: 200%;
}

.ipad-container {
  text-align: center;
}

.ipad-img {
  max-width: 625px;
  margin: 0 auto;
}
.ipad-img img {
  width: 100%;
}

.ipad-slide {
  padding: 0 15% 75px 15%;
}
@media only screen and (max-width: 420px) {
  .ipad-slide {
    padding: 0;
  }
}

.slide-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  max-width: 645px;
  margin: 0 auto;
  background: url(../img/ipad.png) scroll no-repeat top center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  padding: 7.6% 8.98%;
}

.glare {
  position: absolute;
  top: 0;
  right: 0;
}

.slide img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.cta {
  text-align: center;
  top: -70px;
  position: relative;
  z-index: 9;
}
.cta p {
  font-size: 1.5em;
  font-weight: 700;
  color: #d84835;
}
.cta img {
  margin-left: 15px;
  position: relative;
  top: 10px;
}
@media only screen and (max-width: 748px) {
  .cta span {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  .cta {
    margin-top: 0;
    top: auto;
  }
  .cta p {
    margin: 0;
    margin-bottom: 0.875em;
  }
  .cta span {
    display: none;
  }
  .cta img {
    margin-left: 0;
  }
}

.collection-wrap {
  padding-top: 140px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 748px) {
  .collection-wrap {
    padding-top: 20%;
  }
}
@media only screen and (max-width: 420px) {
  .collection-wrap {
    padding-top: 20px;
  }
}

@-moz-document url-prefix() {
  .collection-wrap {
    padding-top: auto;
    padding-bottom: auto;
    position: relative;
    top: -273px;
  }
  @media only screen and (max-width: 748px) {
    .collection-wrap {
      padding-top: 35%;
    }
  }
  @media only screen and (max-width: 420px) {
    .collection-wrap {
      padding-top: 55%;
      top: -153px;
    }
  }
}
.section-top {
  margin-bottom: 50px;
}
@media only screen and (max-width: 748px) {
  .section-top {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .section-top {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 748px) {
  .group-desktop {
    display: none;
  }
}

.group-mobile {
  display: none;
}
@media only screen and (max-width: 748px) {
  .group-mobile {
    display: block;
    width: 80%;
    float: none;
    margin: 0 auto;
  }
}

.bg-blue h2 {
  text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.8);
}

.activities-wrap {
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
}
@media only screen and (max-width: 748px) {
  .activities-wrap {
    padding-top: 50px;
  }
}

@-moz-document url-prefix() {
  .activities-wrap {
    top: auto;
    margin-top: -240px;
    margin-bottom: -240px;
  }
  @media only screen and (max-width: 748px) {
    .activities-wrap {
      padding-top: auto;
    }
  }
}
.activity-callouts {
  padding-bottom: 20px;
}
@media only screen and (max-width: 748px) {
  .activity-callouts {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 748px) {
  .activity-text {
    clear: left;
    margin-bottom: 20px;
  }
}

.bud-img {
  text-align: center;
}
@media only screen and (max-width: 748px) {
  .bud-img {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .bud-img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: none;
    margin-bottom: 40px;
  }
  .bud-img img {
    max-width: 50%;
  }
}

.write img {
  width: 90%;
}
@media only screen and (max-width: 748px) {
  .write img {
    width: auto;
    max-width: 60%;
  }
}

.color img {
  width: 120%;
  max-width: none;
  position: relative;
  left: -20%;
}
@media only screen and (max-width: 748px) {
  .color img {
    width: auto;
    max-width: 70%;
    left: auto;
    top: 10px;
  }
}

@media only screen and (max-width: 748px) {
  .publish img {
    width: auto;
    max-width: 60%;
    top: 10px;
  }
}

@media only screen and (max-width: 748px) {
  .cutpaste img {
    width: auto;
    max-width: 60%;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  color: #62dfec;
  font-size: 12px;
}
.footer a {
  color: #62dfec;
}
